@charset "UTF-8";

table {
		width:900;
        border-collapse:collapse;
        margin:0px auto;
}

#a{
		padding-top : 50px;
		padding-bottom : 50px;
          text-align:center;
}
.linetop {
          border-top:2px solid black;
          border-bottom:1px solid black;
}
.linebottom {
		border-top:2px solid black;
}
 .line {
          border-bottom:1px solid black;
 }

 td{
          padding:7px;
 }
.middle {
 	height : 750px;
 }

#subject {
	 width : 600px;
}
#sumaddress {
	 width : 600px;
}
#sample4_detailAddress {
	width : 500px;
}
